Sale Analysis

In [1]:
import pandas as pd 
import os
import datetime

Merge data from each month into one CSV

In [2]:
os.getcwd() # find out which directory in python you are currently in

'C:\\Users\\Tam Khong\\data_analyst_project\\youtube\\Python_Pandas\\Pandas-Data-Science-Tasks-master'

In [3]:
df = pd.read_csv(".\SalesAnalysis\Sales_Data\Sales_April_2019.csv") # Check one out of bunch files

In [4]:
#List all file that need to be concatenate
files = [file for file in os.listdir('./SalesAnalysis./Sales_Data')]
for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [5]:
# Merge 12 months of Sales_Data into a single csv file
all_months_data = pd.DataFrame()
for file in files:
    current_data = pd.read_csv('./SalesAnalysis./Sales_Data/'+file)
    all_months_data = pd.concat([current_data,all_months_data])
all_months_data.to_csv('all_data.csv', index=False) #save dataa to csv with name

In [6]:
all_data = pd.read_csv('all_data.csv', parse_dates=['Order Date'])
all_data.head(3)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"

In [10]:
all_data = pd.read_csv('all_data.csv',parse_dates=['Order Date'])
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [ ]:
all_data.info()

# What was the best month for sales? How much was earned that month?